<!DOCTYPE HTML>

<html>
	<head>
		<title>EWOSystem</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="static/logoewo.png" alt="" /></span>
						<h1>Eyes Wide Open Ministries</h1>
						<h2>Chiquimula, Guatemala</h2><br />
						<ul class="icons">
							<li><a href="/admin"><i class="icon style2 fa fa-user" aria-hidden="true"></i></a><br>
							<li><a href="/admin" ><span class="label"><h2>Iniciar Sesión</h2></span></a></li>
						</ul>
						<h3>Buscanos en:</h3>
						<ul class="icons">
							<li><a href="https://www.facebook.com/ewoministries" class="icon style2 fa-facebook-official"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/ewo_ministries/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.youtube.com/channel/UC2Dnw0ojUOOqfPmA3Yuv5tQ" class="icon style2 fa-youtube"><span class="label">Youtube</span></a></li>
							<li><a href="http://www.eyeswideopenministries.com/" class="icon style2 fa-edge"><span class="label">Youtube</span></a></li>
						</ul>
					</header>
				<!-- Footer -->
					<footer id="footer">
						<p>&copy; EWOSystem. Todos los derechos reservados.<br>
						Desarrollado por: Nelson Brenes Calderón.<br>
						Tel: +50232569797 </p>
					</footer>
			</div>
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/main.js"></script>
	</body>
</html>